In [1]:
import pandas as pd
import numpy as np

### Let's make dummy data frame

In [2]:
dummy_df = pd.DataFrame()
dummy_df['col1'] = [10, 12, 14, None, 15, 19]
dummy_df['col2'] = [12, 34, 2, 34, None, None]
dummy_df['col3'] = [13, 23, 8, 2, 1, 4]

In [3]:
dummy_df

   col1  col2  col3
0  10.0  12.0    13
1  12.0  34.0    23
2  14.0   2.0     8
3   NaN  34.0     2
4  15.0   NaN     1
5  19.0   NaN     4

In [4]:
ddf = dummy_df.dropna(axis=1)

In [5]:
ddf

   col3
0    13
1    23
2     8
3     2
4     1
5     4

In [6]:
rrf = dummy_df.dropna(axis=0)

In [7]:
rrf

   col1  col2  col3
0  10.0  12.0    13
1  12.0  34.0    23
2  14.0   2.0     8

### `isna()`

In [8]:
dummy_df.isna()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3   True  False  False
4  False   True  False
5  False   True  False

In [9]:
def check_for_nan(dframe):
    """
    dframe â†’ pandas data frame object
    returns `nan_places` a dictionary of column names and the `nan_indices`
    """
    nan_places = {}
    for col in dframe.columns:
        indices = list(np.where(dframe[col].isnull())[0])
        nan_places[col] = indices if indices else None
    return nan_places

In [10]:
check_for_nan(dframe=dummy_df)

{'col1': [3], 'col2': [4, 5], 'col3': None}

### `info()`

In [11]:
dummy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    4 non-null      float64
 2   col3    6 non-null      int64
dtypes: float64(2), int64(1)
memory usage: 208.0 bytes

In [12]:
dummy_frame = pd.DataFrame()
dummy_frame['col1'] = [10, '12', 14, None, 15, 19]
dummy_frame['col2'] = [12, 34, 2, 34, None, None]
dummy_frame['col3'] = [13, 23, None, 2, 1, 4]

In [13]:
dummy_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      object
 1   col2    4 non-null      float64
 2   col3    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 184.0+ bytes